<html>
<title> <?php echo $_SERVER['HTTP_HOST']; ?> </title>

gethostname: <?php echo gethostname(); ?> </br>
server_name: <?php echo $_SERVER['SERVER_NAME'] ?> </br>
http_host: <?php echo $_SERVER['HTTP_HOST'] ?> </br>
path: <?php echo realpath(dirname(__FILE__)); ?> </br>

</html>
